{% extends "template.html" %}

{% block navpanel %}
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/settings/manage">Manage Collections</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="row main-pad">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row container-fluid">
                        <h4 class="card-title">Data Categorisation</h4>
                    </div>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <form method="post">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th style="min-width: 170px">Name</th>
                                    <th style="min-width: 170px">Type</th>
                                    <th style="width: 110px; min-width: 110px; max-width: 110px;">Colour</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if collections is not none %}
                                    {% for e in collections %}
                                        <tr>
                                            <td>{{ e }}</td>
                                            <td><input class="form-control" name="{{ e }}-name" type="text" placeholder="Pretty Name" value="{% if e in settings %}{{ settings[e]['name'] }}{% endif %}"></td>
                                            <td>
                                                <select class="form-control" name="{{ e }}-type">
                                                    <option {% if e in settings and settings[e]['type'] == '' %}selected="selected"{% endif %} value="">None</option>
                                                    <option {% if e in settings and settings[e]['type'] == 'temperature' %}selected="selected"{% endif %} value="temperature">Temperature</option>
                                                    <option {% if e in settings and settings[e]['type'] == 'power' %}selected="selected"{% endif %} value="power">Power</option>
                                                    <option {% if e in settings and settings[e]['type'] == 'wind' %}selected="selected"{% endif %} value="wind">Wind</option>
                                                    <option {% if e in settings and settings[e]['type'] == 'rain' %}selected="selected"{% endif %} value="rain">Rain</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input name="{{ e }}-color" class="form-control jscolor text-center" value="{% if e in settings %}{{ settings[e]['color'] }}{% else %}000000{% endif %}">
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                        <div class="pull-right">
                            <button style="margin: 0 15px;" type="submit" class="btn btn-fill btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
