{% extends "template.html" %}

{% block content %}
    {% if data|length > 0 %}
    <h3 class="text-center">Temperature</h3>
    <canvas id="tempChart" style="width: 100%; height: 100%;"></canvas>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
    <script src="static/js/date.format.js"></script>
    <script src="static/js/functions.js"></script>
    <script>
        window.onload = function() {
            var ctx = $('#tempChart');
            var powerChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [
                        {% for r in data %}
                            {
                                borderWidth: 1,
                                label: '{{ r }}',
                                data: [
                                    {% for e in data[r] %}
                                        {
                                            x: new Date(parseInt({{ mktime(e['timestamp'].timetuple()) }}) * 1000),
                                            y: roundHalf({{ e['temperature'] }})
                                        },
                                    {% endfor %}
                                ],
                                borderColor: Colors.random(),
                                fill: false
                            },
                        {% endfor %}
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                labelString: 'Temperature /C',
                                display: true
                            },
                            ticks: {
                                min: -5,
                                max: 40,
                                stepSize: 5
                            }
                        }],
                        xAxes: [{
                            type: 'time',
                            time: {
                                //unit: 'hour', // Force axis unit
                                displayFormats: {
                                    hour: 'ddd Do ha'
                                },
                                tooltipFormat: 'Do MMMM YYYY, h:mm:ss A'
                            }
                        }]
                    },
                    elements: {
                        line: {
                            tension: 0.000001
                        },
                        point: {
                            radius: 0
                        }
                    }
                }
            });
        };
    </script>
    {% else %}
        <div class="row text-center">
            <h2>No collections defined for temperature.</h2>
            <h4>Go to <a href="/settings">settings</a> to define some.</h4>
        </div>
    {% endif %}
{% endblock %}
